celery
celery-redbeat
channels
channels-redis==3.4.1
cffi>=1.15
django-anymail
django-cors-headers
django-debug-toolbar
django-extensions
django-redis-cache
django-webpack-loader
django==4.1.2
djangorestframework
drf-yasg[validation]
freezegun
gunicorn
markdown
markdown-urlize
pillow
psycopg2
pyOpenSSL
pydot
pyparsing
python-decouple
python-jose
redis
requests
sentry-sdk
shortuuid
social-auth-app-django
uvicorn[standard]
watchgod
werkzeug
whitenoise